<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
        <div>
          <label><%=employee.id %> </label>
          <label><%=employee.firstName %> </label>
          <label><%=employee.lastName %> </label>
          <label><%=employee.age %> </label>
          <label><%=employee.phoneNumber%> </label>
          <label><%=employee.salary %> </label>
          <label><%=employee.jobDesc %> </label>
        </div>
      
</body>
</html>